In [55]:
import pandas as pd
import numpy as np
from scipy.integrate import simps
from sklearn.cluster import KMeans
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics.pairwise import cosine_similarity
from itertools import combinations, groupby
import networkx as nx
from torch.fx.experimental.unification.unification_tools import groupby

In [2]:
df = pd.read_csv('/home/eduardoferreira/PycharmProjects/Rec_Sys/dataset/ml-latest-small/ratings.csv', sep=',')

In [3]:
matrix = df.pivot_table(index='userId', columns='movieId', values='rating').fillna(0)

In [4]:
def cos_sim(v1, v2):
    return np.dot(v1, v2) / (np.linalg.norm(v1) * np.linalg.norm(v2))

In [7]:
def find_n_rated(df1, df2):
    mask = (df1 > 0) & (df2 > 0)
    # df = pd.merge(df1,df2, on='movieId', how ='inner')
    if df1[mask].shape[0] > 10:
        return df1[mask].values, df2[mask].values
    else:
        return None

In [9]:
# similarity_list = []
# n = matrix.shape[0]
# # n = 50
# for i in range(n):
#     j = i + 1
#     while j < n - 1:
#         if find_n_rated(matrix.iloc[i], matrix.iloc[j + 1]) is not None:
#             v1, v2 = find_n_rated(matrix.iloc[i], matrix.iloc[j + 1])
#             dist = cos_sim(v1, v2)
#             similarity_list.append({'userId1': i, 'userId2': j, 'similarity': dist})
#         j = j + 1

In [10]:
# def similarity_users(df: pd.DataFrame):
#     for i in range(df.shape[0]):

In [11]:
def calculate_user_similarity(df, n):
    ratings_matrix = df.pivot(index='userId', columns='movieId', values='rating').fillna(0)

    # Generate pairs of user IDs
    user_pairs = list(combinations(ratings_matrix.index, 2))

    similarity_data = []
    for (u1, u2) in user_pairs:
        # Find common movies rated by both users
        common_movies = ratings_matrix.loc[u1].index.intersection(ratings_matrix.loc[u2].index)

        # Continue if there are not enough common movies rated by both users
        if len(common_movies) <= n:
            continue

        # Calculate cosine similarity using ratings of common movies
        ratings_u1 = ratings_matrix.loc[u1, common_movies].values.reshape(1, -1)
        ratings_u2 = ratings_matrix.loc[u2, common_movies].values.reshape(1, -1)
        similarity = cosine_similarity(ratings_u1, ratings_u2)[0, 0]

        # Append to similarity_data
        similarity_data.append((u1, u2, similarity))

    # Create DataFrame with columns 'userId', 'userId1', and 'similarity'
    similarity_df = pd.DataFrame(similarity_data, columns=['userId', 'userId1', 'similarity'])

    return similarity_df


similarity_df = calculate_user_similarity(df, n=10)
print(similarity_df)

        userId  userId1  similarity
0            1        2    0.027283
1            1        3    0.059720
2            1        4    0.194395
3            1        5    0.129080
4            1        6    0.128152
...        ...      ...         ...
185740     607      609    0.149190
185741     607      610    0.139114
185742     608      609    0.121993
185743     608      610    0.322055
185744     609      610    0.053225

[185745 rows x 3 columns]

In [84]:
similarity_df.sort_values(by='similarity', ascending=False, inplace=True)
similarity_df.to_csv('/home/eduardoferreira/PycharmProjects/Rec_Sys/dataset/treated/similarity_users.csv', sep=',')

In [56]:
def group_users_by_similarity(df, n_groups):
    X = df[['userId', 'userId1', 'similarity']]

    kmeans = KMeans(n_clusters=n_groups, random_state=42)
    X['group'] = kmeans.fit_predict(X[['similarity']])

    X['user'] = X[['userId', 'userId1']].values.tolist()
    X = X.drop(['userId', 'userId1'], axis=1)

    grouped_df = X.groupby('group')['user'].apply(list).reset_index()

    return grouped_df


grouped_df = group_users_by_similarity(similarity_df, n_groups=6)

   group                                               user
0      0  [[1, 3], [1, 9], [1, 13], [1, 22], [1, 25], [1...
1      1  [[1, 17], [1, 19], [1, 39], [1, 42], [1, 45], ...
2      2  [[1, 4], [1, 16], [1, 18], [1, 27], [1, 28], [...
3      3  [[1, 2], [1, 10], [1, 12], [1, 85], [1, 87], [...
4      4  [[5, 8], [5, 46], [5, 58], [5, 94], [5, 117], ...
5      5  [[1, 5], [1, 6], [1, 7], [1, 8], [1, 11], [1, ...

In [177]:
similarity_df[['userId', 'userId1']].astype(int)

        userId  userId1
68627      126      379
70748      130      574
70642      130      468
118074     242      468
79834      150      270
...        ...      ...
98054      191      491
29945       52      214
169801     431      598
54200       97      394
73529      136      496

[185745 rows x 2 columns]

In [184]:
def group_users(similarity: pd.DataFrame, n_groups) -> []:
    group = []

    for g in range(n_groups):
        for i in range(similarity.shape[0]):
            # print('group')
            if not group:
                group.append([g, similarity.iloc[i]['userId'], similarity.iloc[i]['userId1']])
            else:
                if similarity.iloc[i]['userId'] in group or similarity.iloc[i]['userId1'].all() in group:
                    pass
    return group

In [216]:
# test = group_users(similarity_df, 1)

In [232]:
 [similarity_df[similarity_df['similarity'] > 0.5]['userId'] == 126][0]

68627      True
70748     False
70642     False
118074    False
79834     False
          ...
71850     False
151167    False
117946    False
15472     False
15292     False
Name: userId, Length: 852, dtype: bool

In [212]:
sim = similarity_df.groupby(['userId'])

In [213]:
sim.head()

        userId  userId1  similarity
68627      126      379    0.813373
70748      130      574    0.800046
70642      130      468    0.776898
118074     242      468    0.761244
79834      150      270    0.752312
...        ...      ...         ...
185219     578      581    0.037840
185243     578      605    0.037065
185237     578      599    0.036130
185234     578      596    0.032893
185244     578      606    0.029230

[3035 rows x 3 columns]