In [1]:
import pandas as pd

from preprocess import Tags_Movielens, ProcessReviews

tag = Tags_Movielens()
# tag.preprocess()

In [2]:
reviews = ProcessReviews()
reviews.start()

In [ ]:
print("urls_neg")

In [6]:
file =  ["test", "urls_pos"]
path = f'../../../Dataset/aclImdb/{file[0]}/{file[1]}.txt'
print(path)

../../../Dataset/aclImdb/test/urls_pos.txt

In [7]:
x = pd.read_csv(path)
df_url_ = pd.read_csv(path, sep='\t', names=['url'])

In [8]:
df_url = df_url_.url.str.split(r"http://www.imdb.com/title/|/usercomments", expand=True)

In [9]:
df_url

      0           1 2
0         tt0406816
1         tt0406816
2         tt0406816
3         tt0406816
4         tt0406816
...   ..        ... ..
12495     tt0450357
12496     tt0450357
12497     tt0450357
12498     tt0450357
12499     tt0450357

[12500 rows x 3 columns]

In [4]:
test

      imdbId                                                tag
0     100150                                              Mafia
1     100157  claustrophobic, horror, scary, stephen king, s...
2     100211                                              Nazis
3     100212                                              Mafia
4     100263                                            hit men
...      ...                                                ...
1567   99726                                        Shakespeare
1568   99776                            Holocaust, World War II
1569   99785                                          christmas
1570   99810                                         Tom Clancy
1571   99851                      fairy tales, In Netflix queue

[1572 rows x 2 columns]

In [7]:
rev = pd.read_csv('../dataset/processed/imdb_reviews.csv', sep=',')
rev['review'].describe

<bound method NDFrame.describe of 0        I wasn't so impressed with this film, finding ...
1        Worth the entertainment value of a rental, esp...
2        Abysmal pulp adventure exploitation in the jun...
3        I'm at a loss. This entire movie made absolute...
4        Why would anyone make a film like this? Why wo...
                               ...
49995    Very sweet pilot. The show reeks of Tim Burton...
49996    The true story of a bunch of junkies robbing a...
49997    An imagination is a terrible thing to waste .....
49998    Just a comment on New Orleans accents...<br />...
49999    This movie really surprised me. I had my doubt...
Name: review, Length: 50000, dtype: object>